@import 'variables';

/* Header */
header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color4;
	
}
.navbar{
	padding: 0px;
}
.navbar-toggler{
	margin: 0px;
	padding: 0px;
    background-color: $color4;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
    background-color: $color4;
}
ul{
	display: flex;
	list-style: none;
}
.nav-link {
    text-decoration: none;
    color:$color2;
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 1.25rem;
    &:hover{
        color: $color1;
    }
}

@media only screen and (max-width: 990px){

	.nav-link {
		text-decoration: none;
		color:$color2;
		font-family: 'Oswald';
		font-weight: 200;
		font-size: 1rem;
		&:hover{
			color: $color1;
		}
	}
}