@import 'header';
@import 'footer';
@import 'variables';


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Index */

/* Index Parte superior */
.introBanner{
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 40px;

    
    p{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 300;
	    font-size: 1.25rem;
	    text-align: justify;
	    width: 31.25rem;
	    height: 15.625rem;
    }
}
.introh1{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 700;
	    font-size: 2.813rem;
	    text-align: center;
}
#video{
	width: 17.5rem;
	height: 30.875rem;
	border-radius: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
/* Index Parte Inferior (Nuestros clientes) */
.mainclientes{
	background-color: $color3;

    h2{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 600;
	    font-size: 40px;
	    text-align: center;
	    padding-bottom: 20px;
    }
}
.content{
	display: grid;
	grid-template-columns: 300px 300px 300px ;
	grid-template-rows: 100px 100px ;
	grid-gap: 50px;
	justify-content: center;

    div{
        width: 280px;
	    height: 80px;
	    background-color: $color5;
	    border-color: $color4;
	    border-radius: 1.25rem;
    }
}
@mixin sizes {
	background-position: center;
	background-size: cover;
}
.content__client1{
	background-image: url(../assets/imagenes/clientes/cliente1-01.png);
	@include sizes;
}
.content__client2{
	background-image: url(../assets/imagenes/clientes/cliente2-02.png);
	@include sizes;
}
.content__client3{
	background-image: url(../assets/imagenes/clientes/cliente3-03.png);
	@include sizes;
}
.content__client4{
	background-image: url(../assets/imagenes/clientes/cliente4-04.png);
	@include sizes;
}
.content__client5{
	background-image: url(../assets/imagenes/clientes/cliente5-05.png);
	@include sizes;
}
.content__client6{
	background-image: url(../assets/imagenes/clientes/cliente6-06.png);
	@include sizes;
}

/* Resposive Tablet Index */

@media only screen and (min-width: 768px) and (max-width:1023px){

/* Responsive Tablet Index */

/* Responsive Tablet Index Parte superior */
.introBanner{
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;

    h1{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 700;
	    font-size: 2.188rem;
	    text-align: center;
    }
    p{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 300;
	    font-size: 0.938rem;
	    text-align: justify;
	    width: 600px;
	    height: 150px;
    }
}
#video{
	width: 10.375rem;
	height: 23.313rem;
	border-radius: 1rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
/* Responsive Tablet Index Parte Inferior (Nuestros clientes) */

.mainclientes{
	background-color: $color3;

    h2{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 600;
	    font-size: 1.875rem;
	    text-align: center;
	    padding-bottom: 5px;
    }
}
.content{
	display: grid;
	grid-template-columns: 300px 300px;
	align-items: center;
	padding-bottom: 10px;
	grid-gap: 2px;

    div{
        width: 280px;
	    height: 80px;
	    background-color: $color5;
	    border-color: $color4;
	    border-radius: 1.25rem;
	    margin-left: 10px;
    }
}
@mixin sizes {
	background-position: center;
	background-size: cover;
}
.content__client1{
	background-image: url(../assets/imagenes/clientes/cliente1-01.png);
	@include sizes;
}
.content__client2{
	background-image: url(../assets/imagenes/clientes/cliente2-02.png);
	@include sizes;
}
.content__client3{
	background-image: url(../assets/imagenes/clientes/cliente3-03.png);
	@include sizes;
}
.content__client4{
	background-image: url(../assets/imagenes/clientes/cliente4-04.png);
	@include sizes;
}
.content__client5{
	background-image: url(../assets/imagenes/clientes/cliente5-05.png);
	@include sizes;
}
.content__client6{
	background-image: url(../assets/imagenes/clientes/cliente6-06.png);
	@include sizes;
}
}
/* vista mobile */

@media only screen and (max-width: 767px){

/* Responsive Mobile Index */

/* Responsive Mobile Index Parte superior */

.introBanner{
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;

    h1{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 700;
	    font-size: 2rem;
	    text-align: center;
    }
    p{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 300;
	    font-size: 0.7rem;
	    text-align: justify;
	    width: 300px;
	    height: 140px;
    }
}
#video{
	width: 10.375rem;
	height: 23.313rem;
	border-radius: 1rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

/* Responsive Mobile Index Parte Inferior (Nuestros clientes) */
.mainclientes{
	background-color: $color3;	

    h2{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 600;
	    font-size: 1.6rem;
	    text-align: center;
	    padding-bottom: 3px;
    }
}
.content{
	display: grid;
	grid-template-columns: 200px;
	grid-template-rows: 60px;
	grid-gap: 5px;
	padding-bottom: 10px;

    div{
        width: 200px;
	    height: 60px;
	    background-color: $color5;
	    border-color: $color4;
	    border-radius: 1.25rem;
    }
}
.content__client1{
	background-image: url(../assets/imagenes/clientes/cliente1-01.png);
	background-position: center;
	background-size: cover;
}
.content__client2{
	background-image: url(../assets/imagenes/clientes/cliente2-02.png);
	background-position: center;
	background-size: cover;
}
.content__client3{
	background-image: url(../assets/imagenes/clientes/cliente3-03.png);
	background-position: center;
	background-size: cover;
}
.content__client4{
	background-image: url(../assets/imagenes/clientes/cliente4-04.png);
	background-position: center;
	background-size: cover;
}
.content__client5{
	background-image: url(../assets/imagenes/clientes/cliente5-05.png);
	background-position: center;
	background-size: cover;
}
.content__client6{
	background-image: url(../assets/imagenes/clientes/cliente6-06.png);
	background-position: center;
	background-size: cover;
}
}

/* Productos */
.producto{
	display: flex;
	justify-content: space-around;
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
}
.producto__imagen{
	padding-top: 20px;

    img{
        width: 324px;
	    height: 486px;
	    border-radius: 20px;
    }
}
.producto__text{
	width: 700px;
	padding-top: 20px;

    h1{
        @extend .introh1;
    }
}
.list-group{
	font-family: $fontprincipal;
	font-weight: 300;
	font-size: 15px;
	margin-bottom: 10px;
}

/* Resposive Tablet Producto */

@media only screen and (min-width: 768px) and (max-width:1023px){

.producto{
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
    background-image: url(../assets/imagenes/fondo/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:0px;
}
.producto__imagen{
    padding-top: 10px;
    padding-left: 10px;

    img{
        width: 200px;
	    height: 300px;
	    border-radius: 20px;
    }
}
.producto__text{
	width: 700px;
	padding-top: 20px;

    h1{
        color: $color4;
	    font-family: $fontprincipal;
	    font-weight: 700;
	    font-size: 25px;
	    text-align: center;
    }
}
.list-group{
	font-family: $fontprincipal;
	font-weight: 300;
	font-size: 10px;
	margin-bottom: 10px;
} 
}

/* vista mobile */

@media only screen and (max-width: 767px){

.producto{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
	}
.producto__imagen{
	padding-top: 5px;
	padding-left: 5px;
	
	img{
		width: 175px;
		height: 263px;
		border-radius: 20px;
	}
	}
.producto__text{
	width: 300px;
	padding-top: 20px;
	
	h1{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
	}
}
.list-group{
	font-family: $fontprincipal;
	font-weight: 300;
	font-size: 10px;
	margin-bottom: 10px;
} 
}

/* Funcionamiento */

.funcionamiento{
	display: flex;
	justify-content: space-around;
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.funcionamiento__text{
	h1{
		@extend .introh1;
		text-align: center;
		width: 500px;
		padding-top: 20px;
	}
	p{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 300;
		font-size: 20px;
		text-align: justify;
		width: 500px;
	}
}
.funcionamiento__img{
	img{
		width: 329px;
		height: 494px;
		padding-top: 20px;
		border-radius: 40px;
	}
}
.funcionicon{
	display: grid;
	grid-template-columns: 200px 200px;
	justify-content: space-around;
	padding-top: 20px;
}
.funcionicon__icon1{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/lavarse-las-manos.png);
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 50% 20% / 10% 40%;
}
.funcionicon__icon2{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/sensor.png);
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 50% 20% / 10% 40%;
}

/* Responsive Tablet funcionamiento */

@media only screen and (min-width: 768px) and (max-width:1023px){

.funcionamiento{
	display: flex;
	justify-content: space-around;
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
}
.funcionamiento__text{
	h1{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 700;
		font-size: 25px;
		text-align: center;
		width: 400px;
		padding-top: 10px;
	}
	p{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 300;
		font-size: 15px;
		text-align: justify;
		width: 400px;
	}
}
.funcionamiento__img{
	img{
		width: 250px;
		height: 375px;
		padding-top: 20px;
		border-radius: 40px;
	}
}
.funcionicon{
	display: grid;
	grid-template-columns: 150px 150px;
	justify-content: space-around;
	padding-top: 10px;
}
.funcionicon__icon1{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/lavarse-las-manos.png);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 50% 20% / 10% 40%;
}
.funcionicon__icon2{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/sensor.png);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 50% 20% / 10% 40%;
}
}

/* Responsive Mobile funcionamiento */
@media only screen and (max-width: 767px){

.funcionamiento{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
	}

.funcionamiento__text{
	h1{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		width: 300px;
		padding-top: 10px;
	}
	p{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 300;
		font-size: 10px;
		text-align: justify;
		width: 300px;
	}
}
.funcionamiento__img{
	img{
		width: 195px;
		height: 292px;
		padding-top: 10px;
		border-radius: 40px;
	}
}
.funcionicon{
	display: grid;
	grid-template-columns: 100px 100px;
	justify-content: space-around;
	padding-top: 10px;
}
.funcionicon__icon1{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/lavarse-las-manos.png);
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 50% 20% / 10% 40%;
}
.funcionicon__icon2{
	background-color: $color5;
	background-image: url(../assets/imagenes/iconos/sensor.png);
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 50% 20% / 10% 40%;
}
}

/* Clientes */

.clientes{
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
}
.clientes__text{
	h1{
		@extend .introh1;
		text-align: center;
		padding-top: 10px;
	}
	p{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 300;
		font-size: 20px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 20px;
	}
}

.maps{
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: 360px 360px 360 px;
	justify-content: space-evenly;
	gap: 20px;
	padding-bottom: 20px;
}

$maps: (
	key1: "bidcom",
	key2: "clarin",
	key3: "argentina",
	key4: "segunda",
	key5: "racing",
	key6: "meridional"
);

	@each $key, $cliente in $maps {
		.maps-#{$key}{
			width: 250px;
			height: 360px;
			background-color: $color5;
			background-image: url(../assets/imagenes/clientes/#{$cliente}.jpeg);
			background-position: center;
			background-size: cover;
			border-radius: 50% 20% / 10% 40%;
		}
		}



/* Responsive tablet Clientes */

@media only screen and (min-width: 768px) and (max-width:1023px){
	.clientes{
		background-image: url(../assets/imagenes/fondo/fondo.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom:0px;
	}
	.clientes__text{
		h1{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 700;
			font-size: 25px;
			text-align: center;
			padding-top: 5px;
		}
		p{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 300;
			font-size: 15px;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 10px;
		}
	}
	.maps{
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 288px 288px;
		justify-content: space-evenly;
		gap: 6px;
		padding-bottom: 10px;
	}
		$maps: (
		key1: "bidcom",
		key2: "clarin",
		key3: "argentina",
		key4: "segunda",
		key5: "racing",
		key6: "meridional"
		);

			@each $key, $cliente in $maps {
			.maps-#{$key}{
				width: 200px;
				height: 288px;
				background-color: $color5;
				background-image: url(../assets/imagenes/clientes/#{$cliente}.jpeg);
				background-position: center;
				background-size: cover;
				border-radius: 50% 20% / 10% 40%;
			}
			}
}

/* Responsive Mobile Clientes */

@media only screen and (max-width: 767px){

	.clientes{
		background-image: url(../assets/imagenes/fondo/fondo.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom:0px;
	}
	.clientes__text{
		h1{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 700;
			font-size: 20px;
			text-align: center;
			padding-top: 5px;
		}
		p{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 300;
			font-size: 10px;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 5px;
		}
	}
	.maps{
		display: grid;
		grid-template-columns: 150px 150px;
		grid-template-rows: 210px 210px;
		justify-content: space-evenly;
		gap: 10px;
		padding-bottom: 10px;
	}
	$maps: (
		key1: "bidcom",
		key2: "clarin",
		key3: "argentina",
		key4: "segunda",
		key5: "racing",
		key6: "meridional"
		);

			@each $key, $cliente in $maps {
			.maps-#{$key}{
				width: 150px;
				height: 210px;
				background-color: $color5;
				background-image: url(../assets/imagenes/clientes/#{$cliente}.jpeg);
				background-position: center;
				background-size: cover;
				border-radius: 50% 20% / 10% 40%;
			}
			}
}

/* Contacto */

.contacto{
	background-image: url(../assets/imagenes/fondo/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:0px;
}
.contacto__cont{
	h1{
		@extend .introh1;
		padding-top: 20px;
		text-align: center;
	}
	p{
		color: $color4;
		font-family: $fontprincipal;
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		width: 500px;
		padding-bottom: 10px;
	}
}
.formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color4;
	padding: 30px;
	margin: 15px;
	border-radius: 10px 100px / 120px;
	color: $color4;
	font-weight: 300;
	font-size: 20px;
	font-family: $fontprincipal;
}
iframe{
	width: 500px ;
	height: 450px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.contacto__cont{
	display: flex;
	justify-content: center;
}
.contactobtn{
	font-size: 18px;
	font-family: $fontprincipal; 
	margin-bottom: 10px;
	padding: 2px;
}

/* Responsive tablet Contacto */
@media only screen and (min-width: 768px) and (max-width:1023px){
	.contacto__cont{
		h1{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 600;
			font-size: 20px;
			padding-top: 10px;
			text-align: center;
		}
		p{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 300;
			font-size: 15px;
			text-align: center;
			width: 350px;
			padding-bottom: 5px;
		}
	}
	.formulario{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color4;
		border-radius: 10px 100px / 120px;
		color: $color2;
		font-weight: 300;
		font-size: 10px;
		font-family: $fontprincipal;
	}
	iframe{
		width: 300px;
		height: 300px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	.contacto__cont{
		display: flex;
		justify-content: center;
	}
	.contactobtn{
		font-size: 10px;
		font-family: $fontprincipal; 
		margin-bottom: 2px;
		padding: 2px;
	}
	.formulario{
		input{
			font-size: 10px;
		}
		textarea{
			font-size: 10px;
		}
	}
}

/* Responsive Mobile contacto */

@media only screen and (max-width: 767px){
	.contacto__cont{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;

		h1{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 500;
			font-size: 20px;
			padding-top: 5px;
			text-align: center;
		}
		p{
			color: $color4;
			font-family: $fontprincipal;
			font-weight: 300;
			font-size: 12px;
			padding-bottom: 5px;
			width: 300px;
		}
	}
	.formulario{
		display: flex;
		align-content: center;
		width: 300px;
		flex-direction: column;
		align-items: center;
		background-color: $color4;
		border-radius: 10px 100px / 120px;
		color: $color2;
		font-weight: 300;
		font-size: 12px;
		font-family: $fontprincipal;
	}
	iframe{
		width: 300px;
		height: 300px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	.contacto__cont{
		display: flex;
		justify-content: center;
	}
	.contactobtn{
		font-size: 20px;
		font-family: $fontprincipal; 
		margin-bottom: 1px;
		padding: 1px;
	}
	.formulario{
		input{
			font-size: 7px;
		}
		textarea{
			font-size: 7px;
		}
	}
}
